[user]
	name = Ayoub EL Mhamdi
	email = ayoub.elmhamdi@gmail.com
    username = ayoubelmhamdi
[init]
	defaultBranch = master
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
; [color "diff"]
; 	meta = yellow bold
; 	frag = magenta bold
; 	old = red bold
; 	new = green bold
; 	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[safe]
	directory = /root/stow/nvim-v2/.config/nvim/lua
	directory = /opt/sdk/flutter
	directory = /opt/xbps-src/void-packages
	directory = /tmp/new_tmp/autocmd.nvim
	directory = /root/Git/plugin/cfg-highlight.nvim/after
	directory = /root/Git/plugin/cfg-highlight.nvim
	directory = /mnt/termux/scripts
[pull]
	rebase = true
[rebase]
	autoStash = true

[core]
	pager = delta --line-numbers --dark
	editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	; side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
